pipeline/pipeline_employee_change_tracking.json
{
	"name": "pipeline_employee_change_tracking",
	"properties": {
		"activities": [
			{
				"name": "Lookup_LastSyncVersionWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "\n-- This is the current version that has been sync'ed for the given table.\n\nSELECT   TableName,  ChangeTrackingVersion \n  FROM  [dbo].[ChangeTrackingStore]\n  where TableName='Employee'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_onprem_changestore",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_LatestVersionIdOnDatabase",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "-- This is the change track Id for the entire DB, will increment for *all* tables that have opted in\nSELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_onprem_changestore",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CopyToStaging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_LastSyncVersionWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_LatestVersionIdOnDatabase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "--source query for copyStaging activity \n\nSELECT \nct.ID,\ne.CompanyCode,\ne.EmployeeId,\ne.FirstName,\ne.LastName,\ne.DOB, \ne.CreateDate,\ne.UpdateDate,\n    ct.SYS_CHANGE_VERSION, \nct.SYS_CHANGE_OPERATION,  \n    ct.SYS_CHANGE_COLUMNS\nFROM CHANGETABLE(CHANGES dbo.Employee, @{activity('Lookup_LastSyncVersionWatermark').output.firstRow.ChangeTrackingVersion} ) ct\nLEFT JOIN dbo.Employee e\nON e.ID = ct.ID\n \n\n\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "TRUNCATE TABLE [dbo].[stgEmployeeCt]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_onprem_employee_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azure_employee_staging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "MergeEmployee",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyToStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_MergeEmployee]"
				},
				"linkedServiceName": {
					"referenceName": "ls_dest",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateChangeTrackingVersion",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "MergeEmployee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[uspUpdateChangeTrackingStore]",
					"storedProcedureParameters": {
						"changeTrackingVersion ": {
							"value": {
								"value": "@{activity('Lookup_LatestVersionIdOnDatabase').output.firstRow.CurrentChangeTrackingVersion}",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"tableName": {
							"value": {
								"value": "@{activity('Lookup_LastSyncVersionWatermark').output.firstRow.tableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_source",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"wqe": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-26T19:50:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}